<!doctype html>
<html>
  <head>
    <title>Right Now</title>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/css/materialize.min.css">
    <link rel="stylesheet" href="/custom.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <%= pollData.title %><br>
    <%= pollData.question %><br><br>

    <%  pollData.responses.forEach(function (response) { %>
        <%= response %>
        <span id="<%= response %>"><%= pollData.responsesAndVotes[response] %></span>
        <br>
    <%  }) %><br>

    <button id="close-poll-btn" type="button" class="btn waves-effect waves-light">Close Poll
      <i class="material-icons right">power_settings_new</i>
    </button>

    <%- link_to('User Poll URL', pollData.voterUrl) %>

    <script src="/jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/application.js"></script>
    <script src="/poll.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/js/materialize.min.js"></script>
  </body>
</html>
